:root {
    --main-color: #0000FF; /* Ubah warna sesuai kebutuhan Anda */
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child {
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #FFFFFF;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid; /* uncomment this line to enable grid display */
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: #FFFFFF;
    border-radius: 5px;
}

.card-header,
.card-body { /* add comma to separate multiple selectors */
    padding: 1rem;
    margin-bottom: 20px; /* Atur jarak antara judul dan tabel */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.Event {
    margin-bottom: 40px; /* Atur jarak antara "recent event" dan "recent menu" */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead th {
    background-color: var(--color-dark); /* Warna latar belakang header tabel */
    font-weight: 700;
    color: #fff; /* Warna teks header tabel */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #222;
}

.add-btn {
    background-color: green;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    margin-right: 20px;
}
